.weather-card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.weather-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.weather-info {
  display: none;
  font-size: 0.9rem;
}

.weather-card:hover .weather-info {
  display: block;
  margin-top: 10px;
}

.no-data {
  padding: 50px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.weather-info p {
  margin-bottom: 0.5rem;
}
